header {
  background-color: #1f1f1f;
}
header a {
  text-decoration: none;
}
header a#Search_Header_Button.btn.btn-outline-warning.hvr-grow.text-center h5 {
  margin-bottom: 0;
}
header a#navbar-brand.button.hvr-grow {
  text-decoration: none;
  color: white;
  margin-right: 3%;
}
header .navbar.Text.fs-5.fw-bolder {
  margin-top: 2%;
}
@media (min-width: 768px) {
  header .navbar.Text.fs-5.fw-bolder {
    margin-top: 0%;
  }
}
header li#Search.nav-item {
  margin-top: 4%;
}
@media (min-width: 768px) {
  header li#Search.nav-item {
    margin-top: 1%;
  }
}
@media (min-width: 991px) {
  header li#Search.nav-item {
    margin-bottom: 2%;
  }
}
@media (min-width: 1399px) {
  header li#Search.nav-item {
    margin-top: 0%;
    margin-bottom: 0%;
  }
}
@media (min-width: 1399px) {
  header li#Search.nav-item form.d-flex {
    margin-top: 10%;
  }
}
@media (min-width: 375px) {
  header li.nav-item {
    margin-right: 1%;
  }
}
@media (min-width: 414px) {
  header li.nav-item {
    margin-right: 2%;
  }
}
@media (min-width: 768px) {
  header li.nav-item {
    margin-right: 0%;
  }
}
header .modal-content .modal-footer button.btn.btn-dark a {
  color: white;
}
header .d-flex button {
  margin-right: 3%;
  margin-top: 0;
  margin-bottom: 0;
}
